name: Test CI

on:
  workflow_dispatch:

permissions:
  contents: read
  checks: write
  pull-requests: write

jobs:
  python-ci:
    uses: stranske/Workflows/.github/workflows/reusable-10-ci-python.yml@main
    permissions:
      contents: read
      checks: write
      pull-requests: write
    with:
      python-versions: '["3.11"]'
    secrets: inherit
