name: Test CI

on:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  python-ci:
    uses: stranske/Workflows/.github/workflows/reusable-10-ci-python.yml@main
    with:
      python-versions: '["3.11"]'
    secrets: inherit
